<ion-view title="InfoTap">
  <ion-content class="nogrey-bg ion-content padding"> 
  <br><br><br>
  <img src="img/infotap.png" height="100px">
   <div> <h5>A trusted authenticated Goverment to Citizen communication channel</h5></div>
   <br>
   We bring in you instant updates from Government sources, on important must-know happenings around you.
   Be it a scheduled electricity maintainence, a medicine camp or your own gas bill; you will get timely updates, categorized by departments. <br>
   You can turn-off specific updates from the departments section.<br>

   <h3>Team:</h3>
  <ul>
  	<li>
  		Arun David.M
  	</li>
  	<li>
  		Ashok Raj.L
  	</li>
  	<li>
	MohanKumar.S
	 </li>
  </ul>
  </ion-content>
</ion-view>