{% extends '::layout/admin_base.html.twig' %}

{% block content -%}
    <h1>Department creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('department') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
